<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
    <ion-buttons slot="end" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="map" class="fullView"  #map></div>
  <div *ngIf="showList">
    <div class="temp-wrapper">
      <div>
              <ion-button fill="outline" slot="end" (click)="changeFilter('C')" [ngClass]="{'active': activeFilter == 'C'}" >C</ion-button>
              <ion-button fill="outline" slot="end" (click)="changeFilter('F')" [ngClass]="{'active': activeFilter == 'F'}">F</ion-button>
      </div>
      <div class="cancelIcon" (click)="resizeMap(100)">
          <ion-icon name="close"></ion-icon>
      </div>
    </div>
    <div>
      <div>
        <ion-card>
          <ion-item>
            <ion-label>
                Max Temperature
            </ion-label>
            <div class="data">
                {{activeFilter == 'F' ? weatherData.maxtemp_f + " F" : weatherData.maxtemp_c + " C" }}
            </div>
          </ion-item>
        </ion-card>
      </div>
      <div>
        <ion-card>
            <ion-item>
              <ion-label>Min temperature</ion-label>
              <div class="data">
                  {{activeFilter == 'F' ? weatherData.mintemp_f + " F" : weatherData.mintemp_c + " C"}}
              </div>
            </ion-item>
          </ion-card>
      </div>
      <div>
        <ion-card>
            <ion-item>
              <ion-label>Avg temperature</ion-label>
              <div class="data">
                  {{activeFilter == 'F' ? weatherData.avgtemp_f + " F": weatherData.avgtemp_c + " C"}}
              </div>
            </ion-item>
          </ion-card>
      </div>
    </div>
  </div>
</ion-content>
